/* Basic */
body {
    color: #333;
}

a {
    text-decoration: none;
    color: #1b98f8;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}
.clearfix {
    zoom: 1;     /* hack for IE/Win */
}

/* left bar */
#left-bar, #chat-box, #right-bar {
    position: fixed;
    overflow: auto;
    top: 0;
    bottom: 0;
}
#left-bar {
    width: 300px;
}
#channel-list {
}
.channel-entry {
    position: relative;
    padding: 1em;
    border-bottom: 1px solid #eee;
}
.channel-entry:hover {
    background-color: #eee;
}
.channel-entry-selected {
    background-color: #ddd;
}
.channel-entry .channel-delete {
    position: absolute;
    top: -999em;
    width: 25px;
    height: 25px;
    margin: 0.2em;
}
.channel-entry:hover .channel-delete {
    top: 0.5em;
    right: 0em;
}
.channel-header {
    text-transform: uppercase;
    margin: 0;
    color: #999;
}
.channel-avatar {
    height: 50px;
    width: 50px;
    margin-right: 1.5em;
}
.channel-name {
}
#channel-add, #chat-box-header {
    height: 91px;
    padding: 0.5em 1.4em;
}
#channel-add {
    border-bottom: 1px solid #ddd;
}
#channel-add-name {
    width: 170px;
}
/* chat-box */
#chat-box {
    margin-left: 300px;
}
#chat-box-header {
    border-bottom: 1px solid #ddd;
}
#chat-view {
    min-height: 300px;
    max-height: 350px;
    margin-top: 2em;
    margin-left: 1em;
    width: 610px;
    background-color: rgb(196, 226, 236);
    overflow-y: scroll;
}
.chat-item {
    padding: 0.6em;
}
.chat-user, .user-name {
    color: rgb(126, 33, 18);
}
#chat-input {
    margin-top: 1em;
    margin-left: 1em;
}
#submit-btn {
    height: 90px;
}
/* right bar */
#right-bar {
    margin-left: 957px;
}
.user-item {
    padding: 0.4em;
    width: 180px;
    border-bottom: 1px solid #ddd;
}
.user-item .user-avatar {
    float: left;
    height: 40px;
    width: 40px;
    margin-left: 1em;
    margin-right: 1em;
}
.user-name {
    float: left;
    padding-top: 0.8em;
}